// noinspection CssUnknownTarget
@import 'https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap';
@import "./reset";
@import "./variables/globals";
@import "./themes/dark";
@import "./themes/normal";

.app {
  font: var(--font-m);
  background: var(--bg-color);
  color: var(--secondary-color);
  min-height: 100vh;
}
.main {
  display: flex;
  height: calc(100vh - var(--navbar-height));
}

.main__content {
  flex-grow: 1;
}