:root {
  --font-family-main: "Inter", sans-serif;
  --font-size-m: 16px;
  --font-size-l: 24px;
  --line-height-m: 24px;
  --line-height-l: 32px;
  --font-m: var(--font-size-m) / var(--line-height-m) var(--font-family-main);
  --font-l: var(--font-size-l) / var(--line-height-l) var(--font-family-main);
  --navbar-height: 70px;
  --colors-transparent: transparent;
  --colors-current: currentcolor;
  --colors-black: #000;
  --colors-white: #fff;
  --colors-white-alpha-50: rgb(255 255 255 / 4%);
  --colors-white-alpha-100: rgb(255 255 255 / 6%);
  --colors-white-alpha-200: rgb(255 255 255 / 8%);
  --colors-white-alpha-300: rgb(255 255 255 / 16%);
  --colors-white-alpha-400: rgb(255 255 255 / 24%);
  --colors-white-alpha-500: rgb(255 255 255 / 36%);
  --colors-white-alpha-600: rgb(255 255 255 / 48%);
  --colors-white-alpha-700: rgb(255 255 255 / 64%);
  --colors-white-alpha-800: rgb(255 255 255 / 80%);
  --colors-white-alpha-900: rgb(255 255 255 / 92%);
  --colors-black-alpha-50: rgb(0 0 0 / 4%);
  --colors-black-alpha-100: rgb(0 0 0 / 6%);
  --colors-black-alpha-200: rgb(0 0 0 / 8%);
  --colors-black-alpha-300: rgb(0 0 0 / 16%);
  --colors-black-alpha-400: rgb(0 0 0 / 24%);
  --colors-black-alpha-500: rgb(0 0 0 / 36%);
  --colors-black-alpha-600: rgb(0 0 0 / 48%);
  --colors-black-alpha-700: rgb(0 0 0 / 64%);
  --colors-black-alpha-800: rgb(0 0 0 / 80%);
  --colors-black-alpha-900: rgb(0 0 0 / 92%);
  --colors-gray-50: #f7fafc;
  --colors-gray-100: #edf2f7;
  --colors-gray-200: #e2e8f0;
  --colors-gray-300: #cbd5e0;
  --colors-gray-400: #a0aec0;
  --colors-gray-500: #718096;
  --colors-gray-600: #4a5568;
  --colors-gray-700: #2d3748;
  --colors-gray-800: #1a202c;
  --colors-gray-900: #171923;
  --colors-red-50: #fff5f5;
  --colors-red-100: #fed7d7;
  --colors-red-200: #feb2b2;
  --colors-red-300: #fc8181;
  --colors-red-400: #f56565;
  --colors-red-500: #e53e3e;
  --colors-red-600: #c53030;
  --colors-red-700: #9b2c2c;
  --colors-red-800: #822727;
  --colors-red-900: #63171b;
  --colors-orange-50: #fffaf0;
  --colors-orange-100: #feebc8;
  --colors-orange-200: #fbd38d;
  --colors-orange-300: #f6ad55;
  --colors-orange-400: #ed8936;
  --colors-orange-500: #dd6b20;
  --colors-orange-600: #c05621;
  --colors-orange-700: #9c4221;
  --colors-orange-800: #7b341e;
  --colors-orange-900: #652b19;
  --colors-yellow-50: #fffff0;
  --colors-yellow-100: #fefcbf;
  --colors-yellow-200: #faf089;
  --colors-yellow-300: #f6e05e;
  --colors-yellow-400: #ecc94b;
  --colors-yellow-500: #d69e2e;
  --colors-yellow-600: #b7791f;
  --colors-yellow-700: #975a16;
  --colors-yellow-800: #744210;
  --colors-yellow-900: #5f370e;
  --colors-green-50: #f0fff4;
  --colors-green-100: #c6f6d5;
  --colors-green-200: #9ae6b4;
  --colors-green-300: #68d391;
  --colors-green-400: #48bb78;
  --colors-green-500: #38a169;
  --colors-green-600: #2f855a;
  --colors-green-700: #276749;
  --colors-green-800: #22543d;
  --colors-green-900: #1c4532;
  --colors-teal-50: #e6fffa;
  --colors-teal-100: #b2f5ea;
  --colors-teal-200: #81e6d9;
  --colors-teal-300: #4fd1c5;
  --colors-teal-400: #38b2ac;
  --colors-teal-500: #319795;
  --colors-teal-600: #2c7a7b;
  --colors-teal-700: #285e61;
  --colors-teal-800: #234e52;
  --colors-teal-900: #1d4044;
  --colors-blue-50: #ebf8ff;
  --colors-blue-100: #bee3f8;
  --colors-blue-200: #90cdf4;
  --colors-blue-300: #63b3ed;
  --colors-blue-400: #4299e1;
  --colors-blue-500: #3182ce;
  --colors-blue-600: #2b6cb0;
  --colors-blue-700: #2c5282;
  --colors-blue-800: #2a4365;
  --colors-blue-900: #1a365d;
  --colors-cyan-50: #edfdfd;
  --colors-cyan-100: #c4f1f9;
  --colors-cyan-200: #9decf9;
  --colors-cyan-300: #76e4f7;
  --colors-cyan-400: #0bc5ea;
  --colors-cyan-500: #00b5d8;
  --colors-cyan-600: #00a3c4;
  --colors-cyan-700: #0987a0;
  --colors-cyan-800: #086f83;
  --colors-cyan-900: #065666;
  --colors-purple-50: #faf5ff;
  --colors-purple-100: #e9d8fd;
  --colors-purple-200: #d6bcfa;
  --colors-purple-300: #b794f4;
  --colors-purple-400: #9f7aea;
  --colors-purple-500: #805ad5;
  --colors-purple-600: #6b46c1;
  --colors-purple-700: #553c9a;
  --colors-purple-800: #44337a;
  --colors-purple-900: #322659;
  --colors-pink-50: #fff5f7;
  --colors-pink-100: #fed7e2;
  --colors-pink-200: #fbb6ce;
  --colors-pink-300: #f687b3;
  --colors-pink-400: #ed64a6;
  --colors-pink-500: #d53f8c;
  --colors-pink-600: #b83280;
  --colors-pink-700: #97266d;
  --colors-pink-800: #702459;
  --colors-pink-900: #521b41;
  --colors-linkedin-50: #e8f4f9;
  --colors-linkedin-100: #cfedfb;
  --colors-linkedin-200: #9bdaf3;
  --colors-linkedin-300: #68c7ec;
  --colors-linkedin-400: #34b3e4;
  --colors-linkedin-500: #00a0dc;
  --colors-linkedin-600: #008cc9;
  --colors-linkedin-700: #0077b5;
  --colors-linkedin-800: #005e93;
  --colors-linkedin-900: #004471;
  --colors-facebook-50: #e8f4f9;
  --colors-facebook-100: #d9dee9;
  --colors-facebook-200: #b7c2da;
  --colors-facebook-300: #6482c0;
  --colors-facebook-400: #4267b2;
  --colors-facebook-500: #385898;
  --colors-facebook-600: #314e89;
  --colors-facebook-700: #29487d;
  --colors-facebook-800: #223b67;
  --colors-facebook-900: #1e355b;
  --colors-messenger-50: #d0e6ff;
  --colors-messenger-100: #b9daff;
  --colors-messenger-200: #a2cdff;
  --colors-messenger-300: #7ab8ff;
  --colors-messenger-400: #2e90ff;
  --colors-messenger-500: #0078ff;
  --colors-messenger-600: #0063d1;
  --colors-messenger-700: #0052ac;
  --colors-messenger-800: #003c7e;
  --colors-messenger-900: #002c5c;
  --colors-whatsapp-50: #dffeec;
  --colors-whatsapp-100: #b9f5d0;
  --colors-whatsapp-200: #90edb3;
  --colors-whatsapp-300: #65e495;
  --colors-whatsapp-400: #3cdd78;
  --colors-whatsapp-500: #22c35e;
  --colors-whatsapp-600: #179848;
  --colors-whatsapp-700: #0c6c33;
  --colors-whatsapp-800: #01421c;
  --colors-whatsapp-900: #001803;
  --colors-twitter-50: #e5f4fd;
  --colors-twitter-100: #c8e9fb;
  --colors-twitter-200: #a8dcfa;
  --colors-twitter-300: #83cdf7;
  --colors-twitter-400: #57bbf5;
  --colors-twitter-500: #1da1f2;
  --colors-twitter-600: #1a94da;
  --colors-twitter-700: #1681bf;
  --colors-twitter-800: #136b9e;
  --colors-twitter-900: #0d4d71;
  --colors-telegram-50: #e3f2f9;
  --colors-telegram-100: #c5e4f3;
  --colors-telegram-200: #a2d4ec;
  --colors-telegram-300: #7ac1e4;
  --colors-telegram-400: #47a9da;
  --colors-telegram-500: #08c;
  --colors-telegram-600: #007ab8;
  --colors-telegram-700: #006ba1;
  --colors-telegram-800: #005885;
  --colors-telegram-900: #003f5e;
  --shadows-xs: 0 0 0 1px rgb(0 0 0 / 5%);
  --shadows-sm: 0 1px 2px 0 rgb(0 0 0 / 5%);
  --shadows-base: 0 1px 3px 0 rgb(0 0 0 / 10%), 0 1px 2px 0 rgb(0 0 0 / 6%);
  --shadows-md: 0 4px 6px -1px rgb(0 0 0 / 10%), 0 2px 4px -1px rgb(0 0 0 / 6%);
  --shadows-lg: 0 10px 15px -3px rgb(0 0 0 / 10%), 0 4px 6px -2px rgb(0 0 0 / 5%);
  --shadows-xl: 0 20px 25px -5px rgb(0 0 0 / 10%), 0 10px 10px -5px rgb(0 0 0 / 4%);
  --shadows-2xl: 0 25px 50px -12px rgb(0 0 0 / 25%);
  --shadows-outline: 0 0 0 3px rgb(66 153 225 / 60%);
  --shadows-inner: inset 0 2px 4px 0 rgb(0 0 0 / 6%);
  --shadows-none: none;
  --shadows-dark-lg:
    rgb(0 0 0 / 10%) 0 0 0 1px,
    rgb(0 0 0 / 20%) 0 5px 10px,
    rgb(0 0 0 / 40%) 0 15px 40px;
}
