.navbar {
  width: 100%;
  height: var(--navbar-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  box-shadow: var(--shadows-sm);
}
.links {
  display: flex;
  align-items: center;
  gap: 15px;
}